@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.App {
  position: relative;
  width: 90%;
  max-width: 1250px;
  height: 100vh;
  margin: 0 auto;
}
:root{
  --fontPrimary: "Raleway", sans-serif;
  --fontWeightPrimary: 500;
  --borderRules: 1px solid
}



.backgroundHead {
  display: flex;
  height: 20vh !important;
}

