.App {
  height: 100%;
  position:absolute;
  flex-direction: column;
}

.containerCardNumbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  height: 75% !important;
  margin-bottom: 10px;
}
.buttonNumber {
    margin-bottom: 5px !important;
    margin-left: 5px !important;
  }
.buttonBlock {
  margin-bottom: 5px !important;
  margin-left: 5px !important;
}

.buttonPending {
  background-color: #BCBCBC!important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
}

.iconButtonImage {
  width: 30px;
  height: 30px;
}
.iconButtonImageFooter {
  width: 20px;
  height: 20px;
}


.backgroundHead {
  position: relative;
  display: flex;
  height: 20% !important;
  background-size: cover;
  background-image: url(./static/img/bannerBoca.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  align-items: center; 
}
.footerWebContainer {
  background-color:  #103f79 !important;
}
