.App {
  height: 100%;
  position:absolute;
  flex-direction: column;
}

.containerCardNumbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  height: 70% !important;
}
.buttonNumber {
    margin-bottom: 5px !important;
    margin-left: 5px !important;
  }
.backgroundHead {
  position: relative;
  height: 20% !important;
  background-size: cover;
  background-image: url(./static/img/bannerBoca.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}
.footerWebContainer {
  height: 15%;
  background-color:  #3355aa ;
  bottom: 0;
}
